<html>
<body>    
<!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                </h1>
                <p>We are your go to for any sports apparel and equipment. Before you head to the big box stores check with us, we often have what you need for less. Our team is here to help you.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                
                    <center><img class="teampic" src="/img/team.JPG"></center>
                <h2 class="page-header">Our team
                <small>It's Nice to Meet You!</small></h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-square img-responsive " src="/img/tredit.jpg" alt="photo of owner, TR">
                <h3>TR
                    <small></small>
                </h3>
                <p></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-square img-responsive " src="/img/candyedit.jpg" alt="photo of owners wife, Candy">
                <h3>Candy
                    <small></small>
                </h3>
                <p></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-square img-responsive " src="/img/kimedit.jpg" alt="photo of Kim">
                <h3>Kim
                    <small></small>
                </h3>
                <p></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-square img-responsive " src="/img/bethedit.jpg" alt="photo of Beth">
                <h3>Beth
                    <small></small>
                </h3>
                <p></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-square img-responsive " src="/img/pinkedit.jpg" alt="photo of Chrissy">
                <h3>Chrissy
                    <small></small>
                </h3>
                <p></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-square img-responsive " src="/img/katieedit.jpg" alt="photo of Katie">
                <h3>Katie
                    <small></small>
                </h3>
                <p></p>
            </div>
        </div>

    </div>

        

</body>

</html>
