<div class="form-group mailing_list">
  <label class="mailing_list_headline" for="comment">Mailing List:</label>
  <textarea class="form-control" rows="25" id="comment"><%=mailing_list%></textarea>
</div>