<!DOCTYPE html>
 <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Products</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a>
                            </li>
                            <li>Sports Equipment</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">
                <p class="text-muted lead text-center">We offer many of the things you need for school sports. Check with us before heading to a big box store.</p>
                <center><h2>Coming Soon: Order Online</h2></center>
                <div class="row products">

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/sports1new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Variety of bats</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/sports2new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Duffel bags</a></h3>
                                <p class="price"> </p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                            <!-- /.text -->

                           
                           
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/sports3new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Variety of gloves</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>

                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/sports4new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Socks</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>

                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/sports5new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Misc Sports equipment</a></h3>
                                <p class="price"> </p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                            <!-- /.text -->

                           
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/sports6new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Mugs</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>

                            </div>
                            <!-- /.text -->

                            
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>

                <!-- /.products -->

<!--
                <div class="col-sm-12">

                    <div class="pages">

                        <p class="loadMore">
                            <a href="#" class="btn btn-template-main"><i class="fa fa-chevron-down"></i> Load more</a>
                        </p>

                        <ul class="pagination">
                            <li><a href="#">&laquo;</a>
                            </li>
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>

                </div>
-->
                <!-- /.col-sm-12 -->

            </div>
            <!-- /.container -->
        
        <!-- /#content -->


   

