<!DOCTYPE html>
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Products</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a>
                            </li>
                            <li>Waynesburg University</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">
                 <div class="row">
            <div class="col-lg-12">
                
                    <center><img class="teampic" src="/img/wuvest.jpg"></center>
                <b><h1 class="lead text-center">We have all your latest Waynesburg University apparel as well as vintage Waynesburg college wear. Call or stop in.</h1></b>
                <h5 class="text-center">Online ordering is coming soon!</h5>

                     </div>
                </div>

    </div>
</div>


