<!DOCTYPE html>
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Waynesburg University</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a>
                            </li>
                            <li>Waynesburg University</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">
                <b><h1 class="lead text-center">We have all your latest Waynesburg University apparel as well as vintage Waynesburg college wear. Call or stop in.</h1></b>
                <h5 class="text-center">Online ordering is coming soon!</h5>

                <div class="row products">

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/wunew.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Misc </a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="#" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/wu2new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Button up</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="#" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                            <!-- /.text -->

                           
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/wu3new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Sweatshirts</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="#" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>

                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/shirts11new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Zip up</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="#" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>

                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/sports6new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Mugs</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="#" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/wu5new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Hats</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="#" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/wu6new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Sleep wear</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="#" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/wu7new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">T-shirts</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="#" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>

                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.products -->

            </div>
</div>


