<!DOCTYPE html>
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Products</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a>
                            </li>
                            <li>Shirts</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">
                <p class="text-muted lead text-center">We carry many local school and college team shirts in store.</p>
                <center><h2>Coming Soon: Order Online</h2></center>

                <div class="row products">

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/shirts1new.jpg" alt="waynesburg jackets long sleeve shirt" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Waynesburg Jackets long sleeve shirt</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/shirts2new.jpg" alt="jefferson morgan polo" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Jefferson Morgan Polo</a></h3>
                                <p class="price"> </p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                            <!-- /.text -->

                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

<!--
                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
-->
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/shirts3new.jpg" alt="waynesburg raiders sweatshirt" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Waynesburg Raiders sweatshirt</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>

                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/shirts5new.jpg" alt="waynesburg dress shirt" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Waynesburg dress shirt</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>

                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/shirts6new.jpg" alt="jefferson morgan tshirt" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Jefferson Morgan t-shirt</a></h3>
                                <p class="price"> </p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>
                            </div>
                            <!-- /.text -->

                            <div class="ribbon sale">
                                <div class="theribbon">SALE</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->

<!--
                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
-->
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>

                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/shirts7new.jpg" alt="carmichaels windbreaker" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="shop-detail.html">Carmichaels Mikes windbreaker</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>

                            </div>
                            <!-- /.text -->

                            
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>
<div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/shirts9new.jpg" alt="west greene tshirt" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">West Greene Pioneers t-shirt</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>

                            </div>
                            <!-- /.text -->

                            
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="product">
                            <div class="image">
                                <a href="#">
                                    <img src="img/shirts8new.jpg" alt="" class="img-responsive image1">
                                </a>
                            </div>
                            <!-- /.image -->
                            <div class="text">
                                <h3><a href="#">Variety of school shirts in stock</a></h3>
                                <p class="price"></p>
                                <p class="buttons">
                                    <a href="#" class="btn btn-default">View detail</a>
                                    <a href="/shop_cart" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </p>

                            </div>
                            <!-- /.text -->

                            <div class="ribbon new">
                                <div class="theribbon">NEW</div>
                                <div class="ribbon-background"></div>
                            </div>
                            <!-- /.ribbon -->
                        </div>
                        <!-- /.product -->
                    </div>
                

                </div>
                <!-- /.products -->

<!--
                <div class="col-sm-12">

                    <div class="pages">

                        <p class="loadMore">
                            <a href="#" class="btn btn-template-main"><i class="fa fa-chevron-down"></i> Load more</a>
                        </p>

                        <ul class="pagination">
                            <li><a href="#">&laquo;</a>
                            </li>
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>

                </div>
-->
                <!-- /.col-sm-12 -->

            </div>
            <!-- /.container -->
        
        <!-- /#content -->