<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Current Campaigns</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li>Current Campaigns</li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <p class="text-muted lead text-center">We have several school shirt campaigns in progress.</p>
        <div class="row products">
            <div class="col-md-3 col-sm-4">
                <div class="product">
                    <div class="image">
                        <a href="shop-detail.html">
                            <img src="img/school_logos/mightymikelogo.jpg" alt="" class="img-responsive image1">
                        </a>
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3><a href="shop-detail.html">CAHS Football Campaign</a></h3>
                        <p class="price">Ends August 15th</p>
                        <p class="buttons">
                            <a href="shop-detail.html" class="btn btn-default">View detail</a>
                            <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="product">
                    <div class="image">
                        <a href="shop-detail.html">
                            <img src="img/school_logos/pioneer.jpg" alt="" class="img-responsive image1">
                        </a>
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3><a href="shop-detail.html">WG Football Campaign</a></h3>
                        <p class="price">Ends September 7th</p>
                        <p class="buttons">
                            <a href="shop-detail.html" class="btn btn-default">View detail</a>
                            <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                </div>
                <!-- /.product -->
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="product">
                    <div class="image">
                        <a href="shop-detail.html">
                            <img src="img/school_logos/waynesburg.jpg" alt="" class="img-responsive image1">
                        </a>
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3><a href="shop-detail.html">WCHS Band Campaign</a></h3>
                        <p class="price">Ends October 1st</p>
                        <p class="buttons">
                            <a href="shop-detail.html" class="btn btn-default">View detail</a>
                            <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="product">
                    <div class="image">
                        <a href="shop-detail.html">
                            <img src="img/school_logos/waynesburg.jpg" alt="" class="img-responsive image1">
                        </a>
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3><a href="shop-detail.html">Waynesburg Wrestling Campaign</a></h3>
                        <p class="price">Ends Oct 29th</p>
                        <p class="buttons">
                            <a href="shop-detail.html" class="btn btn-default">View detail</a>
                            <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="product">
                    <div class="image">
                        <a href="shop-detail.html">
                            <img src="img/school_logos/pioneer.jpg" alt="" class="img-responsive image1">
                        </a>
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3><a href="shop-detail.html">WG Softball Campaign</a></h3>
                        <p class="price">Ends April 12th</p>
                        <p class="buttons">
                            <a href="shop-detail.html" class="btn btn-default">View detail</a>
                            <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                    <!-- /.ribbon -->
                    <div class="ribbon new">
                        <div class="theribbon">NEW</div>
                        <div class="ribbon-background"></div>
                    </div>
                    <!-- /.ribbon -->
                </div>
                <!-- /.product -->
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="product">
                    <div class="image">
                        <a href="shop-detail.html">
                            <img src="img/school_logos/WaynesburgJackets.png" alt="" class="img-responsive image1">
                        </a>
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3><a href="shop-detail.html">Waynesburg Univ. Volleyball Campaign</a></h3>
                        <p class="price">Ends February 14th</p>
                        <p class="buttons">
                            <a href="shop-detail.html" class="btn btn-default">View detail</a>
                            <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                    <!-- /.text -->
                    <div class="ribbon new">
                        <div class="theribbon">NEW</div>
                        <div class="ribbon-background"></div>
                    </div>
                    <!-- /.ribbon -->
                </div>
                <!-- /.product -->
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="product">
                    <div class="image">
                        <a href="shop-detail.html">
                            <img src="img/school_logos/mightymikelogo.jpg" alt="" class="img-responsive image1">
                        </a>
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3><a href="shop-detail.html">CAHS Chorus Campaign</a></h3>
                        <p class="price">Ends August 15th</p>
                        <p class="buttons">
                            <a href="shop-detail.html" class="btn btn-default">View detail</a>
                            <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="product">
                    <div class="image">
                        <a href="shop-detail.html">
                            <img src="img/school_logos/jefferson.png" alt="" class="img-responsive image1">
                        </a>
                    </div>
                    <!-- /.image -->
                    <div class="text">
                        <h3><a href="shop-detail.html">Jefferson Morgan Basketball Campaign</a></h3>
                        <p class="price">Ends March 23rd</p>
                        <p class="buttons">
                            <a href="shop-detail.html" class="btn btn-default">View detail</a>
                            <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.product -->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.products -->
        <div class="col-sm-12">
            <div class="banner">
                <a href="#">
                    <img src="img/lockerroom.jpg" alt="" class="img-responsive">
                </a>
            </div>
            <div class="pages">
                <p class="loadMore">
                    <a href="#" class="btn btn-template-main"><i class="fa fa-chevron-down"></i> Load more</a>
                </p>
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->