<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Contact</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container" id="contact">
        <div class="row">
            <div class="col-md-8">
                <section>
                    <div class="heading">
                        <h2>We are here to help you</h2>
                    </div>
                    <p class="lead">Do you have questions about a product or service we offer? Are you having some type of problem with our products? Did you love your last purchase? Let us know!</p>
                    <p>Please feel free to contact us. Our customer service center is here to help!</p>
                    <div class="heading">
                        <h3>Contact form</h3>
                    </div>
                    <form role="form" class="contact" id="contact" method="post" action="contact">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstname">First name</label>
                                    <input type="text" class="form-control" name="firstname">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastname">Last name</label>
                                    <input type="text" class="form-control" name="lastname">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" name="email">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <input type="text" class="form-control" name="subject">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea id="message" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i> Send message</button>
                            </div>
                        </div>
                        <!-- /.row -->
                    </form>
                </section>
            </div>
            <div class="col-md-4">
                <section>
                    <h3 class="text-uppercase">Address</h3>
                    <p>121 East High Street
                        <br>Waynesburg
                        <br>PA
                        <br>15370
                        
                       
                    </p>
                    <h3 class="text-uppercase">Customer Service</h3>
                    <p class="text-muted">Our phone number:</p>
                    <p><strong>(724) 627-8900</strong>
                    </p>
                    <h3 class="text-uppercase">Hours</h3>
                    <p>We are open<br>
                    <strong>Monday - Friday 9-5</strong><br> 
                    <strong>Saturday 9-2</strong><br>
                    <strong> Sunday - Closed</strong></p>
                    <h3 class="text-uppercase">Email</h3>
                    <p class="text-muted">Our email address:</p>
                    <ul>
                        <li><strong><a href="mailto:info@lockerroomwbg.com">info@lockerroomwbg.com</a></strong>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#contact.container -->
</div>
<!-- /#content -->
<div id="map">
     <!-- Start Map -->
    <center>
    <div class="Flexible-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3061.006918823203!2d-80.18724924885188!3d39.89647737932786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8835a1ff21e18bb5%3A0xa5657fe93592c308!2s121+E+High+St%2C+Waynesburg%2C+PA+15370!5e0!3m2!1sen!2sus!4v1470060572066" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            
    
    </div>
        </center>
</div>
        <!-- End Map -->

