<section>
           <!-- Header Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
   <!-- Indicators -->
   <ol class="carousel-indicators">
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
       <li data-target="#myCarousel" data-slide-to="3"></li>
   </ol>
<!-- Wrapper for slides -->
   <div class="carousel-inner" role="image slideshow">
       <div class="item active">
           <div class="divBackground" style="background-image:url('/img/lockerroom1.jpg');"></div>
       </div>
       <div class="item">
           <div class="divBackground" style="background-image:url('/img/storeview1.jpg');"></div>
       </div>
       <div class="item">
           <div class="divBackground" style="background-image:url('/img/lockerroom1.jpg');"></div>
       </div>
       <div class="item">
           <div class="divBackground" style="background-image:url('/img/storeview1.jpg');"></div>
       </div>
   </div>
</div>
<!-- *** HOMEPAGE CAROUSEL END *** -->
        </section>

        
        <section class="bar background-pentagon no-mb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading text-center">
                            <h2>Testimonials</h2>
                        </div>

                        <p class="lead">We have worked with many clients and we always like to hear they are satisfied. Have a look what our clients said about us.</p>


                        <!-- *** TESTIMONIALS CAROUSEL ***
 _________________________________________________________ -->
<div class="container">
	<div class="row">
		
	</div>
</div>
<div class="carousel-reviews broun-block">
    <div class="container">
        <div class="row">
            <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
            
                <div class="carousel-inner">
                    <div class="item active">
                	    <div class="col-md-4 col-sm-6">
        				    <div class="block-text rel zmin">
						        <a title="" href="#">Ariel Casteel</a>
							    <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5"></span>  </span></div>
						        <p>Loved the design and quality of shirts we received for our 5k run!! Looking forward to next years!<br><br></p>
							    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
					        </div>
							<div class="person-text rel">
				                <img src=""/>
								
								
							</div>
						</div>
            			<div class="col-md-4 col-sm-6 hidden-xs">
						    <div class="block-text rel zmin">
                                <a title="" href="#">Stephanie Sanders Davis</a>
							    <div class="mark">My rating: <span class="rating-input"><span data-value="5" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span><span data-value="5"></span><span data-value="5" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
        						<p>Thank you for the fast, friendly service. Love my Clay Battelle Cee-Bee shirt.<br><br></p>
					            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
				            </div>
							<div class="person-text rel">
				                <img src=""/>
						       
								
							</div>
						</div>
						<div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
							<div class="block-text rel zmin">
                                <a title="" href="#">Gregory Bryte</a>
								<div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span><span data-value="5"></span>  </span></div>
    							<p>Great store... Awesome owners!!!<br><br><br> </p>
								<ins class="ab zmin sprite sprite-i-triangle block"></ins>
							</div>
							<div class="person-text rel">
								<img src=""/>
							</div>
						</div>
                    </div>
<!--
                    <div class="item">
                        <div class="col-md-4 col-sm-6">
        				    <div class="block-text rel zmin">
						        <a title="" href="#">Hercules</a>
							    <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
						        <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men: The last Stand director Brett Ratner. If the name of the director wasn't enough to dissuade ...</p>
							    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
					        </div>
							<div class="person-text rel">
								<img alt="" src="http://myinstantcms.ru/images/img13.png">
								<a title="" href="#">Anna</a>
								<i>from Glasgow, Scotland</i>
							</div>
						</div>
            			<div class="col-md-4 col-sm-6 hidden-xs">
						    <div class="block-text rel zmin">
						        <a title="" href="#">The Purge: Anarchy</a>
							    <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span><span data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
        						<p>The 2013 movie "The Purge" left a bad taste in all of our mouths as nothing more than a pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at "horror." Upon seeing the first trailer for "The Purge: Anarchy," my first and most immediate thought was "we really don't need another one of these."  </p>
					            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
				            </div>
							<div class="person-text rel">
								<img alt="" src="http://myinstantcms.ru/images/img14.png">
						        <a title="" href="#">Ella Mentree</a>
								<i>United States</i>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
							<div class="block-text rel zmin">
								<a title="" href="#">Planes: Fire & Rescue</a>
								<div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
    							<p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in this vehicle's universe with the two Cars movies and then the first Planes movie. I was wondering if maybe Disney pushed it a little bit. However, Planes: Fire and Rescue is an entertaining film that is a fantastic sequel in this magical franchise. </p>
								<ins class="ab zmin sprite sprite-i-triangle block"></ins>
							</div>
							<div class="person-text rel">
								<img alt="" src="http://myinstantcms.ru/images/img15.png">
								<a title="" href="#">Rannynm</a>
								<i>Indonesia</i>
							</div>
						</div>
                    </div>
                    <div class="item">
                        <div class="col-md-4 col-sm-6">
        				    <div class="block-text rel zmin">
						        <a title="" href="#">Hercules</a>
							    <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
						        <p>Never before has there been a good film portrayal of ancient Greece's favourite myth. So why would Hollywood start now? This latest attempt at bringing the son of Zeus to the big screen is brought to us by X-Men: The last Stand director Brett Ratner. If the name of the director wasn't enough to dissuade ...</p>
							    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
					        </div>
							<div class="person-text rel">
								<img alt="" src="http://myinstantcms.ru/images/img13.png">
								<a title="" href="#">Anna</a>
								<i>from Glasgow, Scotland</i>
							</div>
						</div>
            			<div class="col-md-4 col-sm-6 hidden-xs">
						    <div class="block-text rel zmin">
						        <a title="" href="#">The Purge: Anarchy</a>
							    <div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star-empty"></span><span data-value="3" class="glyphicon glyphicon-star-empty"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
        						<p>The 2013 movie "The Purge" left a bad taste in all of our mouths as nothing more than a pseudo-slasher with a hamfisted plot, poor pacing, and a desperate attempt at "horror." Upon seeing the first trailer for "The Purge: Anarchy," my first and most immediate thought was "we really don't need another one of these."  </p>
					            <ins class="ab zmin sprite sprite-i-triangle block"></ins>
				            </div>
							<div class="person-text rel">
								<img alt="" src="http://myinstantcms.ru/images/img14.png">
						        <a title="" href="#">Ella Mentree</a>
								<i>United States</i>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
							<div class="block-text rel zmin">
								<a title="" href="#">Planes: Fire & Rescue</a>
								<div class="mark">My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
    							<p>What a funny and entertaining film! I did not know what to expect, this is the fourth film in this vehicle's universe with the two Cars movies and then the first Planes movie. I was wondering if maybe Disney pushed it a little bit. However, Planes: Fire and Rescue is an entertaining film that is a fantastic sequel in this magical franchise. </p>
								<ins class="ab zmin sprite sprite-i-triangle block"></ins>
							</div>
							<div class="person-text rel">
								<img alt="" src="http://myinstantcms.ru/images/img15.png">
								<a title="" href="#">Rannynm</a>
								<i>Indonesia</i>
							</div>
						</div>
                    </div>                    
                </div>
-->
                <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
                        <!-- *** TESTIMONIALS CAROUSEL END *** -->
                    </div>

                </div>
            </div>
            </div>
        </section>
        <!-- /.bar -->

        <section class="bar background-white no-mb">
            <div class="container">

                <div class="col-md-12">
                    <div class="heading text-center">
                        <h2>Our Services</h2>
                    </div>

                    <center><p class="lead">Here are some of the services we offer here at The Locker Room.
                    </p></center>

                    <!-- *** BLOG HOMEPAGE ***
_________________________________________________________ -->

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box-image-text blog">
                                <div class="top">
                                    <div class="image">
                                        <img src="img/raiders.jpg" alt="picture of a raiders tshirt" class="img-responsive">
                                    </div>
                                    
                                </div>
                                <div class="content">
                                    <h4><a href="/product_details">Sports Team Apparel</a></h4>
<!--
                                    <p class="author-category">By <a href="#">The Locker Room</a> in <a href="blog.html">Sports Apparel</a>
                                    </p>
-->
                                    <p class="intro">Get all your sports team apparel. We can do any school team or local organziations.</p>
<!--
                                    <p class="read-more"><a href="/order_now" class="btn btn-template-main">Learn More</a>
                                    </p>
-->
                                </div>
                            </div>
                            <!-- /.box-image-text -->

                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="box-image-text blog">
                                <div class="top">
                                    <div class="image">
                                        <img src="img/fundraiser.jpg" alt="picture of our shop cat with custom shirt" class="img-responsive">
                                    </div>
                                    
                                </div>
                                <div class="content">
                                    <h4><a href="#">Fundraisers</a></h4>
<!--
                                    <p class="author-category">By <a href="#">The Locker Room</a> in <a href="/product_details">Fundraisers</a>
                                    </p>
-->
                                    <p class="intro">If your school or organization is looking to have a fundraiser we can help.Schools, churches, sports teams.</p>
<!--
                                    <p class="read-more"><a href="/school_order_form2" class="btn btn-template-main">Learn More</a>
                                    </p>
-->
                                </div>
                            </div>
                            <!-- /.box-image-text -->

                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="box-image-text blog">
                                <div class="top">
                                    <div class="image">
                                        <img src="img/personalize.jpg" alt="picture of shirts that have been personalized" class="img-responsive">
                                    </div>
                                    
                                </div>
                                <div class="content">
                                    <h4><a href="#">Custom Designs</a></h4>
<!--
                                    <p class="author-category">By <a href="#">The Locker Room</a> in <a href="/product_details">Personalize</a>
                                    </p>
-->
                                    <p class="intro">You can customize any of our products for your team or organziation.Last names, parent of, relative of,etc.</p>
<!--
                                    <p class="read-more"><a href="#" class="btn btn-template-main">Learn More</a>
                                    </p>
-->
                                </div>
                            </div>
                            <!-- /.box-image-text -->

                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="box-image-text blog">
                                <div class="top">
                                    <div class="image">
                                        <img src="img/bats.jpg" alt="baseball bats available in store" class="img-responsive">
                                    </div>
                                    
                                </div>
                                <div class="content">
                                    <h4><a href="#">Visit our store</a></h4>
<!--
                                    <p class="author-category">By <a href="#">The Locker Room</a> in <a href="/product_details">Merchandise</a>
                                    </p>
-->
                                    <p class="intro">Stop by our store. We carry bats, balls, shoes, helmets,local school(including college)apparel, and everything else you need for sports.</p>
<!--
                                    <p class="read-more"><a href="/school_order_form2" class="btn btn-template-main">Learn More</a>
                                    </p>
-->
                                </div>
                            </div>
                            <!-- /.box-image-text -->

                        </div>

                    </div>
                    <!-- /.row -->

                    <!-- *** BLOG HOMEPAGE END *** -->

                </div>

            </div>
            <!-- /.container -->
        </section>
        <!-- /.bar -->

        <section class="bar background-gray no-mb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading text-center">
                            <h2>Our Brands</h2>
                            
                        </div>

                        <ul class="owl-carousel customers">
                            <li class="item">
                                <img src="img/demarini_logo.jpg" alt="Demarini logo" class="img-responsive">
                            </li>
                            <li class="item">
                                <img src="img/badger_sports_logo.jpg" alt="Badger sports logo" class="img-responsive">
                            </li>
                            <li class="item">
                                <img src="img/Alleson_logo.jpg" alt="Alleson Logo" class="img-responsive">
                            </li>
                            <li class="item">
                                <img src="img/wilson_logo.png" alt="Wilson logo" class="img-responsive">
                            </li>
                            <li class="item">
                                <img src="img/easton_logo.jpg" alt="Easton logo" class="img-responsive">
                            </li>
                            <li class="item">
                                <img src="img/holloway_logo.png" alt="Holloway logo" class="img-responsive">
                            </li>
                        </ul>
                        <!-- /.owl-carousel -->
                        <center><h3>*Not an inclusive list, other brands available upon request*</h3></center>
                    </div>

                </div>
            </div>
        </section>
